#error_main_container {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "top"
    "mid"
    "bottom";
  background: #ededed;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
#error_content_container {
  grid-area: mid;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "top-left top top-right"
    "mid mid mid"
    "bottom-left bottom bottom-right";
}
#error_logo {
  grid-area: top;
  font: lighter 82px Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  cursor: default;
  color: #db2828;
  margin: auto;
}
#error_description {
  grid-area: mid;
  cursor: default;
  font: 300 32px Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  letter-spacing: 2px;
  margin: auto;
}

.error_infobox {
  position: absolute;
}

@media only screen and (max-width: 600px) {
  #error_logo {
    font-size: 58px;
    padding: 35px 55px;
  }
  #error_description {
    font-size: 18px;
  }
}
